<nb-card>
  <nb-card-header>Panier</nb-card-header>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="col-md-8" style="overflow: auto;width: 100%;height: 500px">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx">
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx">
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx">
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx">
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx">
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx">
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx">
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="cursor: pointer;" (click)="getDetails()">
                  <img src="assets/microsoft-excel.jpg" alt="Aperçu du fichier nom_fichier_1.xlsx" >
                  <div class="card-body">
                    <span class="card-title">nom_fichier_1.xlsx</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="detail">
          <nb-card size="medium">
            <nb-card-body>
              <nb-stepper orientation="vertical">
                <nb-step label="First step">
                  <h4>Step content #1</h4>
                  <p class="lorem">
                    Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                    sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                    viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                    placerat quis, lobortis in ligula.
                  </p>
                  <p class="lorem">
                    Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                    sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                    eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                  </p>
                </nb-step>
                <nb-step label="Second step">
                  <h4>Step content #2</h4>
                  <p class="lorem">
                    Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                    sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                    viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                    placerat quis, lobortis in ligula.
                  </p>
                  <p class="lorem">
                    Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                    sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                    eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                  </p>
                </nb-step>
                <nb-step label="Third step">
                  <h4>Step content #3</h4>
                  <p class="lorem">
                    Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                    sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                    viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                    placerat quis, lobortis in ligula.
                  </p>
                  <p class="lorem">
                    Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                    sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                    eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                  </p>
                </nb-step>
                <nb-step label="Fourth step">
                  <h4>Step content #4</h4>
                  <p class="lorem">
                    Proin varius accumsan semper. Praesent consequat tincidunt sagittis. Curabitur egestas sem a ipsum bibendum,
                    sit amet fringilla orci efficitur. Nam bibendum lectus ut viverra tristique. Fusce eu pulvinar magna, quis
                    viverra ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent metus turpis, commodo vel
                    placerat quis, lobortis in ligula.
                  </p>
                  <p class="lorem">
                    Curabitur luctus mattis risus nec condimentum. Donec at dui turpis. Sed vehicula fringilla rutrum. Nullam
                    sed ornare magna. Mauris vitae laoreet diam. Mauris fermentum ligula at lacinia semper. Nulla placerat dui
                    eu sapien pellentesque, eu placerat leo luctus. Cras pharetra blandit fermentum.
                  </p>
                </nb-step>
              </nb-stepper>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
