
<nb-tabset>
  <!--<nb-tab tabTitle="Filiales">
    <form [formGroup]="formFiliales" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-50">
          <label class="col-form-label my-auto">Filiales : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-50">
          <nb-select placeholder="Form control" size="medium" >
            <nb-option value="nom">TDI</nb-option>
            <nb-option value="nom">TGS</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-tab>
  <nb-tab tabTitle="Groupes">
    <form [formGroup]="formGroupes" (ngSubmit)="onSubmit()" >
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-50">
          <label class="col-form-label my-auto">Groupe : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-50">
          <nb-select placeholder="Form control" size="medium">
            <nb-option value="nom">Groupe 1</nb-option>
            <nb-option value="nom">Groupe 2</nb-option>
            <nb-option value="nom">Groupe 3</nb-option>
            <nb-option value="nom">Groupe 4</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-tab>-->
  <nb-tab tabTitle="Filiales">
    <form [formGroup]="formFiliales" (ngSubmit)=onSubmit()>
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-50">
          <label class="col-form-label my-auto">Filiales : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-50">
         <!-- <nb-select placeholder="Form control" size="medium" formControlName="filiale">
            <nb-option *ngFor="let filiale of filiales" [value]="filiale.nom">{{ filiale.nom }}</nb-option>
          </nb-select>-->
          <nb-select placeholder="Form control" size="medium" formControlName="filiale" [(ngModel)]="formFiliales.controls['filiale']">
            <nb-option *ngFor="let filiale of filiales" [value]="filiale.nom">{{ filiale.nom }}</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-tab>
  <nb-tab tabTitle="Groupes">
    <form [formGroup]="formGroupes" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-50">
          <label class="col-form-label my-auto">Groupe : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-50">
          <nb-select placeholder="Form control" size="medium" formControlName="groupe">
            <nb-option *ngFor="let groupe of groupes" [value]="groupe.nom">{{ groupe.nom }}</nb-option>
          </nb-select>
        </div>
      </div>
    </form>
  </nb-tab>
  <nb-tab tabTitle="Informations Stagiaires">
    <form [formGroup]="formInformations" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-25">
          <label class="col-form-label my-auto">CIN : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-75">
          <input
            fullWidth
            class="form-control text-uppercase"
            nbInput
            name="cin"
            id="cin"
            formControlName="cin"
            required
          />
        </div>
      </div>
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-25">
          <label class="col-form-label my-auto">Nom : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-75">
          <input
            fullWidth
            class="form-control text-uppercase"
            nbInput
            name="nom"
            id="nom"
            formControlName="nom"
            required
          />
        </div>
      </div>
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-25">
          <label class="col-form-label my-auto">Prenom : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-75">
          <input
            fullWidth
            class="form-control text-uppercase"
            nbInput
            name="prenom"
            id="prenom"
            formControlName="prenom"
            required
          />
        </div>
      </div>
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-25">
          <label class="col-form-label my-auto">Adresse : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-75">
          <input
            fullWidth
            class="form-control text-uppercase"
            nbInput
            name="adress"
            id="adress"
            formControlName="adress"
            required
          />
        </div>
      </div>
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-25">
          <label class="col-form-label my-auto">Telephone : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-75">
          <input
            fullWidth
            class="form-control text-uppercase"
            nbInput
            name="telephone"
            id="telephone"
            formControlName="telephone"
            required
          />
          <!--          <div *ngIf="formStagiaire.get('codeAgence')?.touched && formStagiaire.get('codeAgence')?.errors?.required"
                         class="invalid-feedback d-block position-absolute">
                      Champs obligatoire non renseigné
                    </div>-->
        </div>
      </div>
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-25">
          <label class="col-form-label my-auto">Email : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-75">
          <input
            fullWidth
            class="form-control text-uppercase"
            nbInput
            name="email"
            id="email"
            formControlName="email"
            required
          />
          <!--          <div *ngIf="formStagiaire.get('codeAgence')?.touched && formStagiaire.get('codeAgence')?.errors?.required"
                         class="invalid-feedback d-block position-absolute">
                      Champs obligatoire non renseigné
                    </div>-->
        </div>
      </div>
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-25">
          <label class="col-form-label my-auto">Diplome : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-75">
          <input
            fullWidth
            class="form-control text-uppercase"
            nbInput
            name="diplome"
            id="diplome"
            formControlName="diplome"
            required
          />
          <!--          <div *ngIf="formStagiaire.get('codeAgence')?.touched && formStagiaire.get('codeAgence')?.errors?.required"
                         class="invalid-feedback d-block position-absolute">
                      Champs obligatoire non renseigné
                    </div>-->
        </div>
      </div>
      <div class="d-flex justify-content-around my-2 mx-auto p-2">
        <div class="w-25">
          <label class="col-form-label my-auto">Fonction : <span class="text-danger">*</span> </label>
        </div>
        <div class="w-75">
          <input
            fullWidth
            class="form-control text-uppercase"
            nbInput
            name="fonction"
            id="fonction"
            formControlName="fonction"
            required
          />
        </div>
      </div>

    </form>
  </nb-tab>
  <nb-tab tabTitle="Pices-Jointe">
    <form [formGroup]="formPiecesJointes" (ngSubmit)="onSubmit()">
      <div class="col-8">
        <div class="w-50">
          <label class="col-form-label my-auto">cin : <span class="text-danger">*</span> </label>
        </div>
        <div class="input-group">
          <input
            type="file"
            name="cin"
            class="file-upload"
            formControlName="cin"
            placeholder="CIN"
            (change)="handleFileInput($event, 'cin')"
            style="background-color: white; border: 2px solid #C8022B; border-radius: 2px; color: #C8022B;"
          />
        </div>
      </div>
      <div class="col-8">
        <div class="w-50">
          <label class="col-form-label my-auto">diplome : <span class="text-danger">*</span> </label>
        </div>
        <div class="input-group">
          <input
            type="file"
            name="diplome"
            class="file-upload"
            formControlName="diplome"
            placeholder="Diplôme"
            (change)="handleFileInput($event, 'diplome')"
            style="background-color: white; border: 2px solid #C8022B; border-radius: 2px; color: #C8022B;"
          />
        </div>
      </div>
      <div class="col-8">
        <div class="w-50">
          <label class="col-form-label my-auto">attestationTravail : <span class="text-danger">*</span> </label>
        </div>
        <div class="input-group">
          <input
            type="file"
            name="AttestationTravail"
            class="file-upload"
            formControlName="Attestationtravail"
            placeholder="Attestation de travail"
            (change)="handleFileInput($event, 'attestationTravail')"
            style="background-color: white; border: 2px solid #C8022B; border-radius: 2px; color: #C8022B;"
          />
        </div>
      </div>
      <div class="col-8">
        <div class="w-50">
          <label class="col-form-label my-auto">quittance : <span class="text-danger">*</span> </label>
        </div>
        <div class="input-group">
          <input
            type="file"
            name="quittance"
            class="file-upload"
            formControlName="quittance"
            placeholder="quittance"
            (change)="handleFileInput($event, 'quittance')"
            style="background-color: white; border: 2px solid #C8022B; border-radius: 2px; color: #C8022B;"
          />
        </div>
      </div>
      <div class="form-row d-flex justify-content-end">
        <div class="form-group px-2 d-flex">
          <button type="submit" class="btn btn-outline-info" style="background-color: #C8022B;color: white" [disabled]="!isFileSelected">
            Ajouter Documents
          </button>
        </div>
      </div>
    </form>
  </nb-tab>
</nb-tabset>
<div class="d-flex flex-row justify-content-end">
<!--  <button type="push" nbButton outline status="danger" class="mx-3">
    Réinitialiser
  </button>
  <button type="submit" class="d-flex btn btn-dark mr-3" [disabled]="onInvalid()?true:false">
    Vailder
  </button>-->

  <button type="button" nbButton outline status="danger" class="mx-3" (click)="resetForm()">
    Réinitialiser
  </button>
  <button type="button" class="d-flex btn btn-dark mr-3" [disabled]="onInvalid() ? true : false" (click)="onSubmit()">
    Valider
  </button>
</div>
