<nb-layout class="customize_layout">
  <nb-layout-column class="colored-column-warning">
    <img src="../../assets/imgAuthentification.png">
  </nb-layout-column>
  <nb-layout-column class="colored-column-danger">
    <form class="auth_form">
      <div class="img_form">
        <img src="../../assets/logo.png">
      </div>
      <div class="title_form mt-5">
        <h5>Acceder au service</h5>
      </div>
      <nb-form-field class="form-fieled mt-5">
        <nb-select-label class="label_form mb-2">Nom d'utilisateur</nb-select-label>
        <input type="text" nbInput fullWidth status="basic" placeholder="Nom d'utilisateur">
      </nb-form-field>
      <nb-form-field class="form-fieled">
        <nb-select-label class="label_form mb-2">Mot de passe</nb-select-label>
        <input type="text" nbInput fullWidth status="basic" placeholder="Mot de passe">
      </nb-form-field>
      <button nbButton status="danger" class="btn-form">
        Se connecter
      </button>
    </form>
  </nb-layout-column>
</nb-layout>
